<!-- Static navbar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
          <li><a routerLink="/template-form" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Template Form</a></li>
          <li><a routerLink="/reactive-form" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Reactive</a></li>
          <li><a routerLink="/styles" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Styles</a></li>
          <li><a routerLink="/parent" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Parent</a></li>
          <li><a routerLink="/services" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Services</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>
